section{
    background-image: url('../Assets/11.png');
    background-size: cover;
    background-position: center;
    
}

.curved-line {
    width: 300px;
    height: 100px;
    margin: -4rem 0 0 1rem;
    border-radius: 50%;
    background: transparent;
    border: 6px solid;
    border-color: #2E40B1 transparent transparent transparent;
  }


  
